# Main domain configuration
https://nothingrandom.studio {
    encode zstd gzip
    handle_path /* {
        reverse_proxy {
            lb_policy round_robin
            to {upstreams 80}
        }
    }
    header -Server
    try_files {path} /index.html /index.php

    # Redirect 404 errors to root with URL change
    handle_errors {
        @404 {
            expression {http.error.status_code} == 404
        }
        redir @404 / 302
    }
}

# Subdomain wildcard configuration
*.nothingrandom.studio {
    encode zstd gzip
    handle_path /* {
        reverse_proxy {
            lb_policy round_robin
            to {upstreams 80}
        }
    }
    header -Server
    try_files {path} /index.html /index.php

    # Redirect 404 errors to root with URL change
    handle_errors {
        @404 {
            expression {http.error.status_code} == 404
        }
        redir @404 / 302
    }
}

# Network configuration
{
    servers {
        ingress_network coolify
    }
}