.profile {
  padding: 20px;
  border: 2px solid black;
  margin-bottom: 40px;

  @include breakpoint(md) {
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 0;
    font-size: em(42px);
  }

  p {
    margin: 10px 0 20px;
    font-size: em(24px);
  }
}