<div class="profile__item">
  {% image profile.data.profileImage %}
  {% markdown %}
    {{ profile.content }}
  {% endmarkdown %}
  <a class='button' href='{{ profile.data.external_link }}'>Visit site</a>
</div>