---
layout: layouts/base.njk

title: Home

menukey: home
permalink: /index.html
---
<div class='container container--fluid'>
  <div class='section'>
    <div class='row center-xs'>
      <div class='col-xs-12'>
        <h1>studio nothingrandom</h1>
      </div>
    </div>
  </div>
  <div class='section section--profile'>
    <div class='row'>
      <div class='col-xs-12 col-md-6'>
        {% set profile = { name: "B", bio: "lead javascript / frontend engineer", img: "/img/benjamingrant.jpg", link: "https://b.nothingrandom.studio"} %}
        {% include "partials/profile.njk" %}
      </div>
      <div class='col-xs-12 col-md-6'>
        {% set profile = { name: "India", bio: "copywriter and author", img: "/img/indiagrant.jpg", link: "https://indiagrant.com"} %}
        {% include "partials/profile.njk" %}
      </div>
    </div>
  </div>
</div>
