---
layout: layouts/base.njk

title: Home

menukey: home
permalink: /index.html
---
<div class='container container--fluid'>
  <div class='section'>
    <div class='row center-xs'>
      <div class='col-xs-12'>
        <h1>studio nothingrandom</h1>
      </div>
    </div>
  </div>
</div>
<div class='features'>
  <a href='https://b.nothingrandom.studio'>
    <img src='/img/benjaminhollway.jpg' />
    <p>b</p>
  </a>
  <a href='https://indiahollway.com'>
    <img src='/img/indiahollway.jpg' />
    <p>india</p>
  </a>
</div>
