<div class="profile">
  <img src="{{ profile.img }}" alt="{{ profile.name }}">
  <h2>{{ profile.name }}</h2>
  <p>{{ profile.bio }}</p>
  <a class='button' href='{{ profile.link }}'>Visit site</a>
</div>